<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link id="theme-stylesheet" rel="stylesheet" href="" />
    <link rel="stylesheet" href="../global.css" />
    <link rel="stylesheet" href="./whiteboard.css" />
  </head>
  <body>
    <div id="app">
      <img id="app-background-layer" />
      <div id="app-texture-layer"></div>
      <div id="app-foreground-layer"></div>
      <div id="app-controller-layer"></div>
    </div>
  </body>
  <script src="../global.js"></script>
  <script src="./whiteboard.js"></script>
</html>
