<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link id="theme-stylesheet" rel="stylesheet" href="" />
    <link rel="stylesheet" href="../global.css" />
    <link rel="stylesheet" href="./whiteboard.css" />
  </head>
  <body>
    <div id="app">
      <div id="app-controls">
        <div id="app-controls-island">
          <span id="app-controls-island-text">Dynamic Island</span>
        </div>
        <div id="app-controls-side-controls">
          <div id="app-controls-side-controls-left">
            <img
              id="app-controls-side-controls-left-page-up"
              src="../../asset/imgs/zhan.png"
            />
            <img
              id="app-controls-side-controls-left-previous"
              src="../../asset/imgs/left.svg"
            />
            <div id="app-controls-side-controls-left-page-number"></div>
            <img
              id="app-controls-side-controls-left-next"
              src="../../asset/imgs/right.svg"
            />
            <img
              id="app-controls-side-controls-left-page-down"
              src="../../asset/imgs/zhan.png"
            />
            <img
              id="app-controls-side-controls-left-bookmark"
              src="../../asset/imgs/zhan.png"
            />
          </div>
          <div id="app-controls-side-controls-right">
            <img
              id="app-controls-side-controls-right-page-up"
              src="../../asset/imgs/zhan.png"
            />
            <img
              id="app-controls-side-controls-right-previous"
              src="../../asset/imgs/left.svg"
            />
            <div id="app-controls-side-controls-right-page-number">1/1</div>
            <img
              id="app-controls-side-controls-right-next"
              src="../../asset/imgs/right.svg"
            />
            <img
              id="app-controls-side-controls-right-page-down"
              src="../../asset/imgs/zhan.png"
            />
            <img
              id="app-controls-side-controls-right-bookmark"
              src="../../asset/imgs/zhan.png"
            />
          </div>
        </div>
        <div id="app-controls-bottom-controls">
          <img
            id="app-controls-bottom-controls-transparent"
            src="../../asset/imgs/zhan.png"
          />
          <img
            id="app-controls-bottom-controls-select"
            src="../../asset/imgs/zhan.png"
          />
          <img
            id="app-controls-bottom-controls-eraser"
            src="../../asset/imgs/zhan.png"
          />
          <img
            id="app-controls-bottom-controls-pen1"
            src="../../asset/imgs/zhan.png"
          />
          <img
            id="app-controls-bottom-controls-pen2"
            src="../../asset/imgs/zhan.png"
          />
          <img
            id="app-controls-bottom-controls-pen3"
            src="../../asset/imgs/zhan.png"
          />
          <img
            id="app-controls-bottom-controls-pen4"
            src="../../asset/imgs/zhan.png"
          />
          <img
            id="app-controls-bottom-controls-pen5"
            src="../../asset/imgs/zhan.png"
          />
          <img
            id="app-controls-bottom-controls-undo"
            src="../../asset/imgs/zhan.png"
          />
          <img
            id="app-controls-bottom-controls-redo"
            src="../../asset/imgs/zhan.png"
          />
          <img
            id="app-controls-bottom-controls-play"
            src="../../asset/imgs/zhan.png"
          />
          <img
            id="app-controls-bottom-controls-more"
            src="../../asset/imgs/zhan.png"
          />
        </div>
      </div>
      <img id="app-background-layer"/>
      <div id="app-texture-layer"></div>
      <div id="app-foreground-layer">
        <canvas id="canvas"></canvas>
      </div>
      <div id="app-controller-layer"></div>
    </div>
  </body>
  <script src="../global.js"></script>
  <script src="./whiteboard.js"></script>
</html>
